

body {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px red;
   cursor:url("http://www.rw-designer.com/cursor-extern.php?id=63797"), auto;
}

a:hover {
  text-decoration: overline dotted;
}

a {
  color: transparent;
  -webkit-text-stroke: 1px var(--mainColor);
}
.dogood {
  color: transparent;
  -webkit-text-stroke: 1px var(--mainColor);
  }
.full {
  width: 100%;
}
.shows {
  position: fixed;
  right: 5px;
}
.play {
 position: relative;
 font-size: 2em;
}
.stop {
  text-align: right;
   font-size: 1.5em;
}
.nohoverordec {
  color: transparent;
  -webkit-text-stroke: 1px var(--mainColor);
  text-decoration: none;
}
.nohoverordec:hover {
  color: transparent;
  -webkit-text-stroke: 1px var(--mainColor);
  text-decoration: none;
}