:root {
  --mainColor: red;
}

body {
  align-items: center;
  display: flex;
  font-family: 'Montserrat', sans-serif;
  background-color: white;
}

a:hover {
  text-decoration: underline wavy;
  unde
}

a {
  color: transparent;
  -webkit-text-stroke: 1px var(--mainColor);
}

@supports not(-webkit-text-stroke: 2px red) {
  a {
    text-shadow:
      3px 3px 0 var(--mainColor),
      -1px -1px 0 var(--mainColor),
      1px -1px 0 var(--mainColor),
      -1px 1px 0 var(--mainColor),
      1px 1px 0 var(--mainColor);
  }
}
.full {
  width: 100%;
}
.shows {
  position: fixed;
  right: 5px;
}
.play {
 position: relative;
 font-size: 2em;
}
.stop {
  text-align: right;
   font-size: 1.5em;
}